* {
padding: 0px;
margin: 0px;
/*outline: solid 1px rgb(208, 0, 208);*/
}

@keyframes slugRace{
 from{
  left: 620px;
 }
 50%{
  left: 1434px;
 }
 51%{
  left: 1434px;
  
 }
 99%{
  left: 620px;
  transform: scaleX(-1);
 }
 100%{
  transform: scaleX(1)
 }
} 

.App {
text-align: center;
}

.App-header {
position: relative;
background-color: #f6f8fa;
min-height: 100vh;
display: grid;
grid-template-columns: repeat(3840, 1fr);
grid-template-rows: repeat(2160, 1fr);
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.slug {
 border-radius: 70%;
 position: absolute;
 top: 170px;
 left: 620px;
 z-index: 5;
 animation: slugRace;
 animation-duration: 8s;
 animation-iteration-count: infinite;
 animation-delay: 0;
 transition: 0.5s;
}
